appdirs==1.4.4
certifi==2020.11.8
click==7.1.2
distlib==0.3.1
filelock==3.0.12
Flask==1.1.2
importlib-metadata==2.0.0
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
pipenv==2020.11.4
six==1.15.0
uWSGI==2.0.19.1
virtualenv==20.1.0
virtualenv-clone==0.5.4
Werkzeug==1.0.1
zipp==3.4.0
